/*ALL*/
html {
    font-size: 16px;
}

body {
    margin: 0;
    font-family: 'Times New Roman', Helvetica, sans-serif; 
}


/*HEADER*/
header {
    background-color: sandybrown;
    margin-bottom: 0;
    border: solid black 2px;
}

header h1 {
    text-align: center;
    font-size: 1.75rem;
}

nav li{
    display: inline;
    padding-right: 1rem;
    font-size: 1.25rem;
}

nav li a {
    color: black;
    text-decoration: none;
}

nav a:visited {
    color: black;
    text-decoration: underline;
    text-decoration-color: gray;
}

nav a:hover {
    text-decoration: underline;
    text-decoration-color: gray;
    cursor: pointer;
}

nav a:active {
    color: white;
}

nav #contact {
    float: right;
    margin-right: 50px;
}

/*BANNER*/
.banner {
    background-image: url(../images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 0;
    padding-top: 100px;
}

.title-card {
    font-size: .75rem;
    text-align: center;
    z-index: 1;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(230, 163, 121, .9);
    border: 3px solid black;
    border-radius: 10px;
    box-shadow: 5px 10px black;
}

.title-card p {
    font-size: 1rem;
    text-align: center;
}


/*CONTENT*/ 
.content {}

section {}

.reference {
    text-align: center;
    font-size: .6rem;
    margin-top: 0;
}

img {
    border: solid gray 2px;
}

h1 {}

h2 {}

h3 {}

h4 {}

#cp-main {
    min-height: 350px;
}

/*OVERVIEW*/ 
#overview h2{
    margin-left: 2%;
}

#overview p{
    margin-left: 5%;
    margin-right: 5%;
}

#overview-container {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}

#study-focus-text {
    border: 2px solid black;
    background-color: sandybrown;
    margin: 0 1rem;
    padding: 2rem .25rem;
    line-height: 2rem;
    flex-shrink: 1;
    min-width: 200px;
}

#study-focus-text p {
    font-size: 1.125rem;
}

#overview-container img{
    min-width: 400px;
    width: 35%;
    height: auto;
    flex-shrink: 1;
}

#ov-img-1 {
    margin-left: 2%;
}

#ov-img-2 {
    margin-right: 2%;
}

/*ABSTRACT*/
#abstract h2{
    margin-left: 2%;
}

#abstract p{
    margin: 0 5%;
}


/*LOCATION*/
#location h2{
    margin-left: 2%;
}

#big-location {
    display: inline-block;
    text-align: center;
    width: 45%;
    height: auto;
    margin-left: 50px;
}

#large-map-image img {
    width: 92%;
    height: auto;
}

#big-location p {
    width: 92%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}

#medium-location {
    display: inline-block;
    text-align: center;
    width: 45%;
    height: auto;
    float: right;
    margin-right: 50px;
}

#med-map-image img {
    width: 98%;
    height: auto;
}

#medium-location p {
    width: 98%;
    height: auto;
    margin-right: auto;
    margin-left: auto;
}



/*BACKGROUND-HISTORY*/
#background {
    display: block;
    clear: right;
}

#background h2{
    margin-left: 2%;
 }

#tectonics {
    text-align: center;
}

.oldest-time {
    display: flex;
    margin-bottom: 50px;
}

#ot-image {
    display: inline-block;
    width: 45%;
}

#ot-image img {
    
    width: 60%;
    height: auto;
}

#ot-text {
    display: inline-block;
    width: 45%;
    padding-top: 100px
}

.medium-late-time {
    display: flex;
}

#mlt-text {
    display: inline-block;
    width: 45%;
    padding-top: 100px;
    padding-left: 5%;
}

#mlt-image {
    display: inline-block;
    width: 45%;
    text-align: center;
    padding-left: 75px;
}

#mlt-image img {
    width: 350px;
    height: auto;
}


/*BACKGROUND-SUITES*/ 
#intrusive-suites {
    text-align: center;
}

#intrusive-suites ul{
    display: inline-block;
    margin-top: 0px;
}

#intrusive-suites ul li{
    list-style-position: inside;
    text-align: left
}

.suite-examples {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.suites {
    border: 1px solid black;
    text-align: center;
}

.suites img{
    width: 75%;
    height: auto;
}

#tuolumne {}

#whitney {}

#sahwave {} 


/*FOOTER*/ 
footer {
   border-top: 2px solid black;
   display: flex;
   justify-content: space-between;
   align-content: flex-start;
   padding: 1rem 0px;
   background-color: peru;
   margin-bottom: 0;
   margin-top: 10px;
}

footer img {
    width: 100px;
    height: auto;
    border-color: black;
    margin-left: 50px;
}

footer #foot-list {
    text-align: center;
    /*padding-left: 450px;
    padding-right: 450px; */
    position: relative;
    right: 20px;
}

footer a {
    color: black;
    text-decoration: none;
}

footer a:visited {
    color: black;
    text-decoration: underline;
    text-decoration-color: black;
}

footer a:hover {
    text-decoration: underline;
    text-decoration-color: black;
    cursor: pointer;
}

footer a:active {
    color: white;
}

#contact-foot {
    margin-right: 50px;
}


/*MEDIA*/
@media only screen and (max-width: 1024px) {
    #big-location {
        display: block;
        text-align: center;
        margin: 0 auto;
    }

    #medium-location {
        display: block;
        text-align: center;
        margin: 0 auto;
        float: none;
    }
}